:root {
  /* typography */
  --header-font: "Poppins";
  --other-font: "Inter";

  --tag-size: 16px;
  --card-size: 16px;
  --a-bit-bigger-than-tag-size: 18px;
  --infosite-title-size: 32px;

  --tag-font-weight: 500;
  --card-font-weight: 800;
  --infosite-title-font-weight: 900;

  --tag-letter-spacing: 0.96px;
  --card-letter-spacing: -0.176px;
  --infosite-title-letter-spacing: -0.352px;

  --poppins-line-height: 115%;

  /* Color styles */
  --tag-border: #bf181d;
  --logo-red: #bf181d;
  --info-grey: #f1f1f1;
  --tag-fill: #ffffff;
  --card-fill: #fafafa;
  --rating-yellow: #f7dc58;

  /* Effect styles */
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spilgalleri-titel {
  font-family: var(--header-font);
  font-size: var(--infosite-title-size);
}

/* Card in general */
/* Card */
.game-card {
  display: flex;
  width: 172.5px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background: var(--card-fill);
  box-shadow: var(--shadow);
  break-inside: avoid;
  margin-bottom: 16px;
}

/* Billede af brætspil */
.game-image {
  height: 160px;
  align-self: stretch;
  border-radius: 16px;
  background-color: var(--info-grey);
}

/* Nedre card */
.bottom-card {
  display: flex;
  padding: 4px 8px 8px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  background: var(--card-fill);
  border-radius: 0 0 16px 16px;
}

.card-header-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.card-header-container h2 {
  flex: 1 0 0;
  color: #000;
  text-shadow: var(--shadow);
  font-family: var(--header-font);
  font-size: var(--card-size);
  font-style: normal;
  font-weight: var(--card-font-weight);
  line-height: var(--poppins-line-height);
  letter-spacing: var(--card-letter-spacing);
}

.tags {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  border: 0.5px solid var(--tag-border-color);
  background: var(--card-background-color);
  box-shadow: var(--shadow);
  height: 27px;
}

/* Tags */
.tags {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  border: 0.5px solid var(--tag-border);
  background: var(--tag-fill);
  box-shadow: var(--shadow);
}

.tags p {
  color: var(--logo-red);
  font-family: var(--other-font);
  font-size: var(--tag-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: var(--tag-letter-spacing);
}

.tags svg {
  height: 16px;
  aspect-ratio: 1/1;
}

.red-tag {
  display: flex;
  width: 100px;
  height: 27px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: 0.5px solid var(--tag-border);
  background: var(--logo-red);
  box-shadow: var(--shadow);
}

.red-tag svg {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  fill: var(--rating-yellow);
}

/* Øvre card */
.top-card {
  height: 160px;
  align-self: stretch;
  border-radius: 16px 16px 0 0;
}

/* FORSIDE */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
}

.logo {
  width: 100px;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}

.logo.animate {
  transform: scale(2.5);
  opacity: 1;
}

.splash-screen.fade-out {
  opacity: 0;
}

footer {
  position: fixed; /* Footer fastlåses i forhold til viewport */
  bottom: 0; /* Lige ved bunden */
  left: 50%; /* Flytter venstre kant til midten */
  transform: translateX(-50%); /* Center footer horisontalt */
  color: black; /* Tekstfarve */
  padding: 10px 20px; /* Indvendig margin */
  text-align: center; /* Tekst centreret */
  font-size: 14px; /* Valgfri størrelse */
}

/*LOCATIONSIDE*/

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  overflow: auto;
  width: 100%;
  margin-top: 700px;
  padding-bottom: 32px;
}

.location h2 {
  color: var(--logo-red);
  text-align: center;
  text-shadow: var(--shadow);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
  font-family: var(--header-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: var(--poppins-line-height);
  letter-spacing: -0.44px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.button-card {
  display: flex;
  width: 345px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background: #fff;
  box-shadow: var(--shadow);
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.button-card-top {
  height: 128px;
  width: 100%;
  align-self: stretch;
  border-radius: 16px 16px 0 0;

  background: linear-gradient(
      0deg,
      rgba(191, 24, 29, 0.4) 0%,
      rgba(191, 24, 29, 0.4) 100%
    ),
    var(--background-image-url) lightgray 50% / cover no-repeat;
}

.button-card-bottom {
  display: flex;
  padding: 8px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: #fafafa;
}

.button-card-bottom h3 {
  color: #000;
  text-shadow: var(--shadow);
  font-family: var(--header-font);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--card-font-weight);
  line-height: var(--poppins-line-height);
  letter-spacing: -0.264px;
}

.button-card-bottom p {
  color: #000;
  font-family: var(--other-font);
  font-size: var(--tag-size);
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.96px;
}

.button:hover {
  background: var(--logo-red);
  transform: translateY(-2px);
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
}

/* fade-ind effekt */
.location {
  opacity: 0; /* starter skjult */
  transition: opacity 1s ease, transform 1s ease;
}

.location.fade-in {
  opacity: 1; /* bliver synlig */
}

/*SPILGALLERISIDE*/
/*Navbar*/
.spiloversigt-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 393px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 12px 12px;
  background: #fff;
  box-shadow: var(--shadow);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.spiloversigt-nav.hidden {
  transform: translate(-50%, -130px);
}

.spiloversigt-nav-grid {
  display: grid;
  height: 100%;
  align-self: stretch;
  grid-template-rows: 50px 45px 45px;
  grid-template-columns: 120px 152px 120px;
  border-radius: 0 0 12px 12px;
  transition: grid-template-rows 0.3s ease-out;
}

.hamburgermenu-grid-container {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: stretch;
}

.searchbar-grid-container {
  display: flex;
  height: 33px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  grid-row: 2 / span 2;
  grid-column: 2 / span 2;
  justify-self: stretch;
  overflow: hidden;
  transition: all 0.3s ease-out;
  padding-right: 8px;
  padding-left: 4px;
}

.game-count-grid-container {
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: stretch;
}

.game-count-grid-container p {
  font-family: var(--other-font);
  font-size: var(--tag-size);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: var(--tag-letter-spacing);
}

.spilgalleri-titel {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  justify-self: stretch;
  color: var(--logo-red);
  text-align: center;
  font-family: var(--header-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: var(--poppins-line-height);
  letter-spacing: -0.264px;
}

.filter-grid-container {
  display: flex;
  padding: 0px 8px 8px 8px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  justify-self: stretch;
  border-radius: 0 0 12px 0;
}

.filter-grid-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.back-btn {
  list-style: none;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

#search-input {
  position: relative;
  height: 100%;
  padding: 8px 16px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  align-self: start;
  border-radius: 16px;
  border: solid 0.5px var(--tag-border);
}

/* Filter bar */
.filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 16px;
  gap: 8px;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
}

.dropbtn {
  background-color: #e9dfd7;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 0.95rem;
  cursor: pointer;
}

.filter-group select {
  background-color: #e9dfd7;
  border: none;
  appearance: none;
  border-radius: 20px;
  padding: 8px 30px 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

/* Show dropdown on click */
.show {
  display: block;
}

/*Vestergade & alle spil sektion*/

/* --- CONTAINER --- */
main {
  padding-top: 0;
  position: relative;
}

/* --- SEKTIONER --- */

.location-header {
  font-family: var(--header-font);
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 16px;
  flex-direction: row;
}

/* --- ALLE SPIL (grid) --- */

.top-card img {
  width: 100%;
  max-width: 180px; /* or whatever max width you want */
  height: 160px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  background: #fff; /* optional: gives a background if image is not full */
}

/* =====================
   SPIL GRID & CARDS
   ===================== */

.game-list-all {
  padding-top: 180px;
  padding-bottom: 80px;

  max-width: calc((172.5px * 4) + (16px * 3));
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 172.5px);
  gap: 16px;
}

/* ====== DIALOG ====== */
#game-dialog {
  display: none;
  align-items: flex-start;
  width: fit-content;
  border: none;
  border-radius: 16px;
  background: var(--card-fill);
  box-shadow: var(--shadow);
  padding: 6px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.3s ease;
}

#close-dialog {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  right: 0;
}

#game-dialog::backdrop {
  background: rgba(2, 2, 2, 0.6);
  backdrop-filter: blur(2px);
}

#dialog-content {
  display: flex;
  width: 385px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: #fff;
}

#dialog-content img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.dialog-bottom-content {
  display: flex;
  height: 515px;
  flex-direction: column;
  align-items: center;

  flex-shrink: 0;
  width: 100%;
  overflow: auto;
  padding: 4px;
}

.dialog-details {
  display: flex;
  padding: 4px 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 377px;
  border-radius: 12px;
  background: var(--info-grey);
  padding: 8px 8px 16px 8px;
  gap: 8px;
}

.dialog-details p {
  flex: 1 0 0;
  color: #000;
  text-shadow: var(--shadow);
  font-family: var(--other-font);
  font-size: var(--a-bit-bigger-than-tag-size);
  font-style: normal;
  font-weight: var(--tag-font-weight);
  line-height: normal;
  padding: 0 4px 0 4px;
}

.modal {
  margin-top: 100px;
}

.infosite-header-container {
  display: flex;
  padding: 0 4px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.infosite-header-container h2 {
  color: #000;
  text-shadow: var(--shadow);
  font-family: var(--header-font);
  font-size: var(--infosite-title-size);
  font-style: normal;
  font-weight: var(--infosite-title-font-weight);
  line-height: var(--poppins-line-height);
  letter-spacing: var(--infosite-title-letter-spacing);
}

.dialog-tag-container {
  display: flex;
  height: 74px;
  padding: 16px 4px;
  align-items: center;
  align-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.dialog-tag-container p {
  color: var(--logo-red);
}

.red-section {
  width: fit-content;
  position: relative;
  height: fit-content;
}

.red-section p {
  color: var(--info-grey);
  font-family: var(--other-font);
  font-size: var(--tag-size);
  font-style: normal;
  font-weight: var(--tag-font-weight);
  line-height: normal;
  letter-spacing: var(--tag-letter-spacing);
}

.red-things {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 2;
  padding: 0 16px 0 16px;
  gap: 36px;
}

.red-things p {
  width: 116px;
}
.red-section-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-section {
  display: flex;
  width: 377px;
  height: 132px;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 0 0 16px 16px;
  background: var(--info-grey);
  margin-top: -4px;
}

.rating-section h3 {
  color: #000;
  text-shadow: var(--shadow);
  font-family: var(--header-font);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--card-font-weight);
  line-height: 150%;
  letter-spacing: -0.22px;
}

.rating-stars {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.rating-stars img {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
}

.send-btn {
  display: flex;
  width: 155px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background-color: var(--tag-border);
  box-shadow: var(--shadow);
}

.send-btn p {
  color: #fff;
  text-align: center;
  font-family: var(--other-font);
  font-size: var(--tag-size);
  font-style: normal;
  font-weight: var(--tag-font-weight);
  line-height: normal;
  letter-spacing: var(--tag-letter-spacing);
}

/*Sværhedgrads knap på Dialog*/

.dialog-tags {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

/* Difficulty colors */
.difficulty-easy {
  background-color: #4caf50;
}

.difficulty-medium {
  background-color: #ffc107;
  color: #333 !important;
}

.difficulty-hard {
  background-color: #f44336;
}

footer {
  font-family: var(--other-font);
}
